
.icon-fire:before { content: '\e800'; } /* '' */
.icon-mug-hot:before { content: '\e801'; } /* '' */
.icon-water:before { content: '\e802'; } /* '' */
.icon-mitten:before { content: '\e803'; } /* '' */
.icon-icicles:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e805'; } /* '' */
.icon-volume-off:before { content: '\e806'; } /* '' */
.icon-volume-up:before { content: '\e807'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
