html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Verdana, sans-serif;
}

#titel {
  width: 600px;
  max-width: 80vw;
  margin: 10px auto 10px auto;

  img {
    width: 100%;
  }
}

.container {
  margin: auto;
  max-width: 90vw;
  width: 600px;
}

.status {
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  text-align: center;

  h2 {
    font-size: 52px;
  }
  p {
    font-size: 20px;
  }
}

#bottom {
  position: fixed;
  bottom: 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
  }

  .left {
    flex-grow: 1;
    font-size: 14px;
    visibility: hidden;
  }

  a {
    color: inherit;
    font-size: 28px;
  }
}

.wiggle {
  animation: wiggle 0.5s linear infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg)
  }
  50% {
    transform: rotate(-10deg)
  }
  100% {
    transform: rotate(10deg)
  }
}

@media only screen and (max-height: 500px) {
  .status h2 {
    margin: 10px 0;
    font-size: 36px;
  }

  .status p {
    margin: 5px 0;
    font-size: 16px;
  }
}
