{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <style>
    #map {
        height: 100vh;
    }
    </style>
{% endblock %}

{% block title %}
    Link viewer
{% endblock title %}

{% block content %}
    <div id="map"></div>
{% endblock content %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.1/gpx.min.js"></script>
    <script>
        let map = L.map('map').setView([51.052440, 5.672728], 16);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoidGlqcy1iIiwiYSI6ImNrZHNydjdxZTFyZjQzM21xbHM4N2wxc3oifQ.cpbpMXSgVY056MxeXAiK2A', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/outdoors-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoidGlqcy1iIiwiYSI6ImNrZHNydjdxZTFyZjQzM21xbHM4N2wxc3oifQ.cpbpMXSgVY056MxeXAiK2A'
        }).addTo(map);

        new L.GPX("{{ url_for('static', filename='route.gpx') }}", {
                async: true,
                display_wpt: false,
            }).addTo(map);

        function stringToColor(str) {
            let hash = 0;
            for (let i = 0; i < str.length; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            let colour = '#';
            for (let i = 0; i < 3; i++) {
                const value = (hash >> (i * 8)) & 0xFF;
                colour += ('00' + value.toString(16)).substr(-2);
            }
            return colour;
        }

        let markers = {};

        function createMarker(data) {
            let color = stringToColor(data['uuid']);
            let marker = L.circleMarker([data['lat'], data['lon']], {
                color: color,
            });
            let newDate = new Date();
            newDate.setTime(data['ts']*1000);
            let dateString = newDate.toUTCString();
            marker.bindPopup(`${dateString}`)
            marker.addTo(map);
            let markerData = {
                id: data['id'],
                marker: marker
            };
            return markerData;
        }

        function update() {
            fetch('{{ url_for('location.get_last') }}').then(response => response.json()).then(response => {
                response.forEach(data => {
                    let uuid = data['uuid'];
                    let id = data['id']
                    if (uuid in markers) {
                        if (markers[uuid]['id'] !== id) {
                            map.removeLayer(markers['uuid']['marker']);
                            markers[uuid] = createMarker(data);
                        }
                    } else {
                        markers[uuid] = createMarker(data);
                    }
                })
            });
        }

        update()

    </script>
{% endblock script %}
